@import '../css/mail-preview.css';

.mail-container{
    width: 100%;
}

/* MENU */
.menu>*{
    width: 115px;
    padding: 5px;

}
.menu>*:not(:first-child){
    padding-left:20px ;

}
.menu>*:not(:first-child):hover{
    background-color: #d6e0f0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu>*:not(:first-child).active{
    background-color: #eb8f8f;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    }
.compose-btn{
    padding: 5px 20px;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 10px;
}
.btn:hover{
    cursor: pointer;
}
.compose-btn:hover{
    background-color: #f1f3f8;
    box-shadow: 0px 0px 3px 1px black;
}
/* MAIL FULL */
.full-container{
    padding: 0 10px;
    width: 90%;
}
.full-container i{
    font-size: 1.2rem;
    margin: 10px 10px;
}
.full-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-from-email{
    color: grey;
}

.full-subject{
    font-size: 1.4rem;
}

.full-body{
    padding: 0 10px;
    max-width: 1040px;
}
.full-loadmore-btn{
    color: gray;
}
.btn:hover {
    cursor: pointer;

}

/* NEW MAIL */
.new-mail-container{
    width: 70%;
    padding: 0;
    background-color: #fff;
    margin-left: 10px;
}
.new-mail-container li{
    margin-bottom: 10px;
}
.new-mail-container span{
    color: gray;
    margin-right: 5px;
    padding-left: 5px;
}
.new-mail-container input{
    border: none;
    
}
.new-mail-container textarea{
    border: none;
    height: 150px;
  
    margin: 2px;
    background-color: white;
}

.new-mail-line{
    border-bottom: 1px solid lightgray;
}


.new-mail-title{
    background-color: #393B44;
    color: white;

    padding: 5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.new-mail-btns{
    display: flex;
    justify-content: space-between;
}
.new-mail-btns .btn{
    padding: 5px
}
.new-mail-btns .send{
   background-color: #0074e4;
   border-radius: 3px;
   color: white;
   margin-left: 10px;
}
.new-mail-btns .send:hover{
    background-color: #2a8de9;
    box-shadow: 0px 0px 2px 1px #2a8de9;
}
.new-mail-btns .delete{
    margin-right: 10px
 }

