@import '../css/mail-preview.css';



/* MENU */
.menu li:hover{
    background-color: red;
}
.btn:hover{
    cursor: pointer;
}
/* MAIL FULL */
.full-container{
  
    padding: 0 10px;
}
.full-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-from-email{
    color: grey;
}

.full-subject{
    font-size: 1.4rem;
}

.full-body{
    padding: 0 10px;
    max-width: 1040px;
}
.btn:hover {
    cursor: pointer;
    
}
