@import '../css/mail-preview.css';



/* MENU */
.menu li:hover{
    background-color: red;
}

/* MAIL FULL */
.full-container{
  
    padding: 0 10px;
}
.full-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-subject{
    font-size: 1.4rem;
}

.btn :hover{
    cursor: pointer;
}
