*:focus{
    outline:0
}

.btn-add-note{
    background-color: #b8b8b8;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
}

.note-list{
    column-count: 4;
    column-gap: 1em;
}

.note {
    background-color: #d3d3d3;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: #303030;
    width: 20vw;
    display: inline-block;
    box-shadow: 0px 0px 5px -3px rgba(64,64,64,1);

}

.note:hover{
    box-shadow: 0px 0px 17px -3px rgba(64,64,64,1);
}

.note-btns-container{
    text-align: right;
}

.btn-toggle-pin, .btn-remove-note{
    cursor: pointer;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;;
}
.btn-toggle-pin:hover, .btn-remove-note:hover{
    background-color: #b8b8b8;
}

.title-edit textarea{
    border:none;
    border-bottom: 1px solid #ee6f57;
    font-family: inherit;
    background-color:#d3d3d3;
    color: rgb(129, 129, 129);
    resize: none;
}

.btn-update-title {
    display: inline-block;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    cursor: pointer;
}

.btn-update-title:hover{
    background-color: #b8b8b8;
}

.img-container{
    width: 80%;
    margin: 0 auto;
}

.img-container img{
    width:100%;
    border-radius: 5px;
}

.todo-done{
    text-decoration: line-through;
    color: rgb(129, 129, 129);
}