@import 'keep-mobile.css';
*:focus {
    outline: 0;
}

p {
    word-wrap: break-word;
}

iframe {
    border: none;
}

main {
    width: 100%;
}

textarea {
    border: none;
    border-bottom: 3px solid #ee6f57;
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0.15);
    color: #404040;
    resize: none;
    margin: 10px;
    border-radius: 3px;
}

.add-note {
    background-color: #fff;
    min-height: 5vh;
    border: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0px 4px 8px -1px #000000;
    padding: 10px;
    border-radius: 12px;
}

.add-note-btn-container {
    display: flex;
    align-items: center;
}

.add-note input:focus {
    border-bottom: 3px solid #ee6f57;
}

.btn-select-note-type, .btn-add-note {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    height: 80%;
    width: 30px;
}

.btn-add-note {
    font-size: 2rem;
}

.btn-add-note:hover {
    color: #ee6f57;
}

.note {
    background-color: #d3d3d3;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: #303030;
    display: inline-block;
    box-shadow: 0px 0px 10px -3px rgba(64, 64, 64, 1);
}

.note:hover {
    box-shadow: 0px 0px 20px -3px rgba(64, 64, 64, 1);
}

.note ul {
    padding: 0;
}

.note-btns-container {
    text-align: right;
}

.btn-toggle-pin, .btn-remove-note, .btn-toggle-pallet {
    cursor: pointer;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
    ;
}



.title-edit, .text-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.title-edit textarea, .text-edit textarea {
    width: 70%;
    font-size: 1.2rem;
}

.btn-update-title, .btn-update-text, .btn-add-todo {
    display: inline-block;
    border-radius: 5px;
    height: 60%;
    width: 20%;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container {
    width: 80%;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
    border-radius: 5px;
}

.todo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo {
    display: flex;
    align-items: center;
}

.todo p {
    margin: 2px;
}

.todo-done {
    text-decoration: line-through;
    color: rgb(129, 129, 129);
}

.todo-add-container {
    display: flex;
    height: 100%;
}

.todo-add-container input {
    margin-inline-end: 10px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    border-bottom: 3px solid #ee6f57;
    border-radius: 5px;
    padding: 5px;
}

.add-todo {
    padding-inline-start: 4px;
    color: rgb(129, 129, 129);
    cursor: pointer;
}

.add-todo span {
    padding-inline-start: 4px;
}

.btn-add-todo {
    height: 5vh;
}

.add-todo:hover {
    color: #ee6f57;
}

.btn-remove-todo {
    display: inline-block;
    justify-self: flex-end;
    transition: opacity 0.3s;
    cursor: pointer;
}

.pallet {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    transition: all 0.3s;
    margin: 0 auto;
}

.color {
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    margin: 2px;
}

@media (min-width:666px) {
    .add-note {
        margin: 20px auto;
        width: 70vw;
    }
    .add-note input {
        border: none;
        height: 80%;
        width: 60%;
        font-size: 1.2rem;
        margin: auto 0;
        padding: 3px;
    }
    .btn-select-note-type:hover {
        background-color: rgba(238, 111, 87, 0.5)
    }
    .note-list {
        column-count: 3;
        column-gap: 1em;
    }
    .note {
        width: 25vw;
    }
    .btn-toggle-pin:hover, .btn-remove-note:hover, .btn-toggle-pallet:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
    .invisible {
        visibility: hidden;
    }
    .btn-update-title:hover, .btn-update-text:hover, .btn-add-todo:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}