footer {
    background-color: #00334e;
    color: #f6f5f5;
    position: absolute;
    bottom: 0;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

footer .logo {
    padding: 0 20px;
}

.devtools-logo-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 5px auto;
}

@media (min-width:666px) {
    footer {
        width: 96vw;
    }
    .footer-content {
        font-size: 1.5rem;
    }
}

@media (max-width:666) {
    footer {
        width: 90vw;
    }
}