@import './nav-bar.css';
@import './notification.css';
@import '../../apps/Mail/assets/css/main-mail.css';
@import '../../apps/Keep/assets/css/keep.css';

/* FONTS */
@font-face{
    font-family: Heebo;
    src: url('../Fonts/Heebo-Regular.ttf')
}
@font-face{
    font-family: Heebo-Extrabold;
    src: url('../Fonts/Heebo-ExtraBold.ttf')
}


html{
    font-family: Heebo;
    font-size: 14px;
}

body {
    box-sizing: border-box;
    background-color: #f6f5f5;
}
li{
    list-style: none
}
a{
    text-decoration: none;
}

/* HELPERS */

.flex{
    display: flex;
}

.hidden{
    display: none;
}