@import './nav-bar.css';
@import './notification.css';
@import '../../apps/Mail/assets/css/main-mail.css';
@import '../../apps/Keep/assets/css/keep.css';


body {
    box-sizing: border-box;
    background-color: lightblue;
}
li{
    list-style: none
}

/* HELPERS */

.flex{
    display: flex;
}